 <div class="col-md-3 hidden-xs">
    <section class="AdminSideBar">
        <ul class="lstAdminSideBar">
            <li class="active"><a href="dashboard.htm"><i class="fa fa-dashboard"></i><span>داشبورد</span></a></li>
            <li><a href="#"><i class="fa fa-bell"></i><span>اعلانات</span><span class="NotificationCounter">12</span></a></li>
            <li><a href="list.htm"><i class="fa fa-list-ul"></i><span>لیست سرویس ها</span></a></li>
            <li><a href="#"><i class="fa fa-image"></i><span>مدیریت تصاویر</span></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i><span>مرکز پیام</span></a></li>
        </ul>
    </section>
</div>
