<footer class="container-fluid bgFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="FooterLink">
                    <span class="FooterLinkTitle">لینک های مفید</span>
                    <ul>
                        <li><a href="#">صفحه اصلی</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="#">گالری</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="FooterLink">
                    <span class="FooterLinkTitle">آخرین های بلاگ</span>
                    <ul>
                        <li><a href="#">آموزش ساخت پروفایل در سایت عروسی 24</a></li>
                        <li><a href="#">راه اندازی بخش اسلایدر در سایت</a></li>
                        <li><a href="#">160 تالار جدید به سایت اضافه شد</a></li>
                        <li><a href="#">برنده جشنواره ایران وب در سال 97</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="FooterLink">
                    <span class="FooterLinkTitle">درباره ما بیشتر بدانید</span>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
