@{
    ViewBag.Title = "Home Page";
    Layout = "../../Views/Shared/_Layout.cshtml";
}

<div class="SliderSection">

    <div id="Slider" class="carousel slide " data-ride='carousel'>
        <div class='carousel-inner'>
            <div class='item active'>
                <div class="SliderOverlay"></div>
                <img src="~/images/s1.jpg" class="img-responsive center-block introImage" alt="">
                <div class="HomeTopText">
                    <h2>بزرگ ترین بانک تالار عروسی کشور</h2>
                    <a class="HomeTopbtn" href="#">بیشتر بدانید</a>
                </div>
            </div>
            <div class='item'>
                <div class="SliderOverlay"></div>
                <img src="~/images/s2.jpg" class="img-responsive center-block introImage" alt="">
                <div class="HomeTopText">
                    <h2>بزرگ ترین بانک تالار عروسی کشور</h2>
                    <a class="HomeTopbtn" href="#">بیشتر بدانید</a>
                </div>
            </div>
            <div class='item'>
                <div class="SliderOverlay"></div>
                <img src="~/images/s3.jpg" class="img-responsive center-block introImage" alt="">
                <div class="HomeTopText">
                    <h2>بزرگ ترین بانک تالار عروسی کشور</h2>
                    <a class="HomeTopbtn" href="#">بیشتر بدانید</a>
                </div>
            </div>
        </div>
    </div>
    <div class="BottomSearch2">
        <div class="container BottomSearch">
            <div class="row">
                <div class="col-md-3">
                    <select class="lstSelect">
                        <option>انتخاب خدمت</option>
                        <option value="1">تالار</option>
                        <option>آتلیه</option>
                        <option>آهنگ و موزیک</option>
                        <option>ماشین عروس</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="lstSelect">
                        <option>شهر</option>
                        <option>تهران</option>
                        <option>کرج</option>
                        <option>اصفهان</option>
                        <option>مشهد</option>
                        <option>شیراز</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="lstSelect">
                        <option>منطقه</option>
                        <option>تهران</option>
                        <option>کرج</option>
                        <option>اصفهان</option>
                        <option>مشهد</option>
                        <option>شیراز</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button class="btnSearch" href="#"><i class="fa fa-search"></i>جستجو</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="HomePageTitle">هر آنچه درباره یک تالار عروسی باید بدانید</h2>
            <p class="ShortDescription">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="HomePageText">
                        <i class="fa fa-file-pdf-o"></i>
                        <h3>عنوان اول</h3>
                        <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomePageText">
                        <i class="fa fa-star-o"></i>
                        <h3>عنوان دوم</h3>
                        <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomePageText">
                        <i class="fa fa-user-o"></i>
                        <h3>عنوان سوم</h3>
                        <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="HomePageText">
                        <i class="fa fa-file-o"></i>
                        <h3>عنوان چهارم</h3>
                        <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid bgWeddingCard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="HomePageTitle">هر آنچه درباره یک تالار عروسی باید بدانید</h2>
                <p class="ShortDescription">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="WeddingCard">
                            <a href="#"><img src="~/images/card1.jpg" class="center-block img-responsive" alt=""></a>
                            <h3><a href="#">بزرگترین تالار عروسی در تهران</a></h3>
                        </div>
                        <div class="WeddingCard">
                            <a href="#"><img src="~/images/card1.jpg" class="center-block img-responsive" alt=""></a>
                            <h3><a href="#">بزرگترین تالار عروسی در تهران</a></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="WeddingCard">
                            <a href="#"><img src="~/images/card1.jpg" class="center-block img-responsive" alt=""></a>
                            <h3><a href="#">بزرگترین تالار عروسی در تهران</a></h3>
                        </div>
                        <div class="WeddingCard">
                            <a href="#"><img src="~/images/card1.jpg" class="center-block img-responsive" alt=""></a>
                            <h3><a href="#">بزرگترین تالار عروسی در تهران</a></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="WeddingCard">
                            <a href="#"><img src="~/images/card1.jpg" class="center-block img-responsive" alt=""></a>
                            <h3><a href="#">بزرگترین تالار عروسی در تهران</a></h3>
                        </div>
                        <div class="WeddingCard">
                            <a href="#"><img src="~/images/card1.jpg" class="center-block img-responsive" alt=""></a>
                            <h3><a href="#">بزرگترین تالار عروسی در تهران</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid parallax-window bgParallax" data-parallax="scroll" data-image-src="~/images/2.jpg">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>یک عنوان می توانید در این قسمت قرار دهید</h2>
                <p>متن کوتاهی جهت توضیح عنوان بالا در اینجا بنویسید تا خواننده سایت شما مطالعه کند</p>
                <a href="#">بیشتر بدانید</a>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid bgWeddingCard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="HomePageTitle">چرا باید ما را انتخاب کنید؟</h2>
                <p class="ShortDescription">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="Box1">
                            <i class="fa fa-clock-o"></i>
                            <h3>یک عنوان در اینجا</h3>
                            <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="Box1">
                            <i class="fa fa-comment-o"></i>
                            <h3>یک عنوان در اینجا</h3>
                            <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="Box1">
                            <i class="fa fa-heart-o"></i>
                            <h3>یک عنوان در اینجا</h3>
                            <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>